<form>
  <label for="firstName">First name: </label>
  <input [(ngModel)]="userFirstName" type="text" id="firstName" name="firstName">
  <br>
  <label for="studentId">Student ID:</label>
  <input [(ngModel)]="userId" type="text" id="studentId" name="studentId">

</form>
<button id="submitButton" type="submit" (click)="onClick()">Submit</button>

<p class="greeting">{{message}}</p>
